{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="font-family: Arial, sans-serif; justify-content: center; align-items: center;height: 100vh; background-color: #f4f4f4; text-align: center; padding-top: 10%">
        <h1 style="font-size: 2.5rem; color: #333;">Something went wrong (500)</h1><br>
        <p style="font-size: 1.2rem; color: #555;">We're experiencing some trouble on our end. Please try again after some time.</p>
    </div>
{% endblock content %}